@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
section {
  position: relative;
  widows: 100%;
  min-height: 100vh;
  background: #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Poligono */
section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 83% 100%);
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
/* Text */
section .content {
  position: relative;
  padding: 100px 50px 100px 150px;
  box-sizing: border-box;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0.5s;
  opacity: 0;
}
section .content h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
}
section .content p {
  color: #ffffff;
  font-size: 16px;
}
section .content a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  background: #bc93f9;
  color: #191919;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 700;
  letter-spacing: 2px;
}

section .imgBx {
  position: relative;
  padding-right: 100px;
}
section .imgBx img {
  max-width: 300px;
  animation: fade-in 0.5s ease-in forwards;
  animation-delay: 2s;
  opacity: 0;
}
.sci {
  position: absolute;
  bottom: 75px;
  left: 150px;
  display: flex;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 1s;
  opacity: 1;
}
.sci li {
  list-style: none;
}
/* redes sociais */
.sci li a {
  text-decoration: none;
  color: #ffffff67;
  margin-right: 30px;
  font-size: 0.9em;
}
/* quando passa o mouse por cima */
.sci li a:hover {
  color: #ffffff;
}
/* barrinha */
.nav {
  position: absolute;
  top: 75px;
  left: 150px;
  display: flex;
  border-left: 5px solid #ffffff;
  padding-left: 20px;
  font-weight: 700;
  animation: left-in 0.5s ease-in forwards;
  animation-delay: 0ms;
  opacity: 0;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #ffffff8e;
  margin-right: 30px;
  font-size: 0.9em;
  text-transform: uppercase;
}
.nav li a.active,
.nav li a:hover {
  color: #ffffff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes left-in {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
